{
    attributes = (
	{
	    columnName = uid;
	    externalType = varchar;
	    name = uid;
	    valueClassName = NSString;
	    width = 128;
	},
	{
	    allowsNull = Y;
	    columnName = name;
	    externalType = varchar;
	    name = name;
	    valueClassName = NSString;
	    width = 255;
	},
	{
	    allowsNull = Y;
	    columnName = email;
	    externalType = varchar;
	    name = email;
	    valueClassName = NSString;
	    width = 255;
	},
	{
	    allowsNull = Y;
	    columnName = "avatar_url";
	    externalType = varchar;
	    name = avatarUrl;
	    valueClassName = NSString;
	    width = 2048;
	},
	{
	    allowsNull = Y;
	    columnName = token;
	    externalType = varchar;
	    name = token;
	    valueClassName = NSString;
	    width = 2048;
	},
	{
	    allowsNull = Y;
	    columnName = is_premium;
	    externalType = int;
	    name = isPremium;
	    valueClassName = NSNumber;
	    valueType = i;
	},
	{
	    allowsNull = Y;
	    columnName = subscription_expiry_date;
	    externalType = timestamp;
	    name = subscriptionExpiryDate;
	    valueClassName = NSDate;
	},
	{
	    allowsNull = Y;
	    columnName = payment_processor_customer_id;
	    externalType = varchar;
	    name = paymentProcessorCustomerId;
	    valueClassName = NSString;
	    width = 255;
	}
    );
    attributesUsedForLocking = (
	uid
    );
    className = Observer;
    classProperties = (
	uid,
	name,
	email,
	avatarUrl,
	token,
	isPremium,
	subscriptionExpiryDate,
	paymentProcessorCustomerId,
	journalEntries,
	observations
    );
    externalName = observers;
    name = Observer;
    primaryKeyAttributes = (
	uid
    );
    relationships = (
	{
	    destination = JournalEntry;
	    isToMany = Y;
	    joinSemantic = EOInnerJoin;
	    joins = (
		{
		    destinationAttribute = observerForeignKey;
		    sourceAttribute = uid;
		}
	    );
	    name = journalEntries;
	},
	{
	    deleteRule = EODeleteRuleCascade;
	    destination = Observation;
	    isToMany = Y;
	    joinSemantic = EOInnerJoin;
	    ownsDestination = Y;
	    joins = (
		{
		    destinationAttribute = observerForeignKey;
		    sourceAttribute = uid;
		}
	    );
	    name = observations;
	}
    );
}