{
    BrowseJournal = (
	"-journalEntries",
	"-hasAnyEntries",
	"-hasCurrentPhoto",
	"-hasCurrentBearing",
	"-currentEntryObservations",
	"-deleteEntry",
	"-viewEntry",
	"-backToMain",
	"-capture",
	"-defaultEntryTitle",
	"-reflectionsSnippet",
	"-hasSummaryPhoto",
	"-summaryPhotoURLString"
    );
    Capture = (
	"-setLocationError:",
	"-locationError",
	"-return"
    );
    Main = (
	"-capture",
	"-reviewObservations",
	"-browseJournal",
	"-hasObservations",
	"-reportPendingObservations",
	"-hasUser",
	"-isAppReady"
    );
    ViewJournalEntry = (
	"-observations",
	"-saveChanges",
	"-deleteEntry",
	"-backToJournal",
	"-hasLocations",
	"-hasCurrentBearing"
    );
}